* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 960px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

#titiolo {
    text-decoration: dotted;
    font-size: larger;
    color: black;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quadrato {
    width: 70px;
    height: 70px;
    margin: 3px;
    border: solid 1px black;
    background-color: cadetblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quadrato-rosso {
    background-color: red;
    width: 70px;
    height: 70px;
    margin: 3px;
    border: solid 1px black;
    display: flex;
    justify-content: center;
    align-items: center;

}

.quadrato-giallo {
    background-color: yellow;
    width: 70px;
    height: 70px;
    margin: 3px;
    border: solid 1px black;
    display: flex;
    justify-content: center;
    align-items: center;

}

.quadrato-verde {
    background-color: yellowgreen;
    width: 70px;
    height: 70px;
    margin: 3px;
    border: solid 1px black;
    display: flex;
    justify-content: center;
    align-items: center;

}